@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*::before,
*::after,
* {
  box-sizing: border-box;
}
:root {
  --clr-White: hsl(0, 0%, 100%);
  --clr-Light-gray: hsl(212, 45%, 89%);
  --clr-Grayish-blue: hsl(220, 15%, 55%);
  --clr-Dark-blue: hsl(218, 44%, 22%);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
#root {
  background-color: var(--clr-Light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
p {
  font-size: 1.2rem;
  color: var(--clr-Grayish-blue);
}
h1 {
  color: var(--clr-Dark-blue);
}
footer{
    text-align: center;
}